extends layout

block content
  h1 Inscription

  if errors
    ul
      for error in errors
        li= error.msg

  //register form
  form(method='POST' action='/')
    div.form-group
      label(for='name') Pseudo :
      input#name.form-control(type='text', placeholder='yololo' name='name')
    div.form-group
      label(for='email') Email :
      input#email.form-control(type='email', placeholder='name@email.com' name='email')
    button.btn.btn-primary(type='submit') S'enregistrer

  h1 Liste d'utilisateurs

  if registrations && registrations.length
    div.container
      each registration in registrations
        div.row
          div.col-sm
            span.userName= registration.name
          div.col-sm
            span.userEmail= registration.email
          div.col-sm
            a(class='btn btn-secondary userEditButton' href="/users/" + registration._id) Editer
            button(type='button' class='btn btn-danger userDeleteButton' onclick="deleteUser('" + registration._id + "')") Supprimer
  else
    p No registrations yet :(